<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{login.page-name}"></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">

    <link th:href="@{/styles/all.css}" rel="stylesheet">
    <link th:href="@{/styles/car-create.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <main class="form-car-create text-center">
        <div class="test-danger" th:if="${param.error}">
            <span th:text="#{car-create.error}"></span>
        </div>
        <form th:action="@{'/car/edit/'+${car.id}}" th:object="${car}" method="post">
            <h1 class="h3 mb-3 fw-normal" th:text="#{car-edit.invitation}"></h1>
            <label for="photoName" class="visually-hidden">Photo</label>
            <input type="text" th:field="*{photoName}" id="photoName" class="form-control" th:placeholder="#{car-create.photoName}+' /resources/images/car-list'" required>

            <label for="carBrand" class="visually-hidden">Brand</label>
            <input type="text" th:name="carBrandName" id="carBrand"  class="form-control" th:placeholder="#{car-create.brand}" required>

            <label for="carModel" class="visually-hidden">Model</label>
            <input type="text" th:field="${car.carModel}" id="carModel" class="form-control" th:placeholder="#{car-create.model}" required>

            <select th:name="qualityClassId">
                <option th:each="curQualityClass : ${qualityClasses}" th:value="${curQualityClass.id}" th:text="#{${'car-create.' + curQualityClass.name}}">Quality class</option>
            </select>

            <label for="inputPrice" class="visually-hidden">Price</label>
            <input type="text" th:field="*{rentPrice}" id="inputPrice" class="form-control" th:placeholder="#{car-create.price}" required>
            <input class="w-100 btn btn-lg btn-primary" type="submit" th:value="#{car-edit.edit}">
        </form>
    </main>
</body>
</html>