<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{car-list.page-name}"></title>

    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/styles/all.css}" rel="stylesheet">
    <link th:href="@{/styles/car-list.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="p-2">
        <span th:text="#{car-list.size}+': '"></span>
        <div class="btn-group" role="group" aria-label="Pages">
            <a class="btn btn-outline-primary" th:with="curSize=3"
               th:href="@{/car(size=${curSize}, sortField=${sortField}, sortDir=${sortDir})}" th:text="${curSize}">
            </a>
            <a class="btn btn-outline-primary" th:with="curSize=5"
               th:href="@{/car(size=${curSize}, sortField=${sortField}, sortDir=${sortDir})}" th:text="${curSize}">
            </a>
            <a class="btn btn-outline-primary" th:with="curSize=10"
               th:href="@{/car(size=${curSize}, sortField=${sortField}, sortDir=${sortDir})}" th:text="${curSize}">
            </a>
        </div>
        <div >
            <form th:action="@{/car(size=${carPage.size}, sortField=${sortField}, sortDir=${sortDir},
            carBrandFilter=${carBrandFilter}, qualityClassFilter=${qualityClassFilter}) }">
                <select th:name="carBrandFilter">
                    <option th:text="#{car-list.filter-brand}" value="">Car brand</option>
                    <option th:each="carBrand : ${carBrands}" th:value="${carBrand.name}"
                            th:text="${carBrand.name}">Car brand</option>
                </select>
                <select th:name="qualityClassFilter">
                    <option th:text="#{car-list.filter-quality-class}" value="">Quality class</option>
                    <option th:each="qualityClass : ${qualityClasses}" th:value="${qualityClass.name}"
                            th:text="#{'quality-class.'+${qualityClass.name}}">Quality class</option>
                </select>
                <input class="btn btn-outline-primary" type="submit" th:value="#{car-list.filter}"/>
            </form>

        </div>
        </div>
        <a sec:authorize="hasAuthority('ADMIN')"
           class="btn btn-outline-primary" th:href="@{/car/create}" th:text="#{car-list.add}"></a>
    </div>
    <div>
    </div>
    <div class="col text-center justify-content-center">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th sec:authorize="hasAnyAuthority('MANAGER', 'ADMIN')" scope="col" class="col-1" th:text="#{car-list.id}">Id</th>
                <th scope="col" class="col-4" th:text="#{car-list.photo}">Photo</th>
                <th scope="col" class="col-2">
                    <a th:href="@{/car(size=${carPage.size}, sortField='carBrand', sortDir=${reverseSortDir})}"
                       th:text="#{car-list.brand}">Brand</a>
                </th>
                <th scope="col" class="col-2">
                    <a th:href="@{/car(size=${carPage.size}, sortField='carModel', sortDir=${reverseSortDir})}"
                       th:text="#{car-list.model}">Model</a>
                </th>
                <th scope="col" class="col-1">
                    <a th:href="@{/car(size=${carPage.size}, sortField='qualityClass', sortDir=${reverseSortDir})}"
                       th:text="#{car-list.quality-class}">Quality class</a></th>
                <th colspan="2" scope="col" class="col-3">
                    <a th:href="@{/car(size=${carPage.size}, sortField='rentPrice', sortDir=${reverseSortDir})}"
                       th:text="#{car-list.price}">Price</a>
                </th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="car : ${carPage.content}">
                <td sec:authorize="hasAnyAuthority('MANAGER', 'ADMIN')"><span th:text="${car.id}">Id</span></td>
                <td><img th:src="@{'/images/car-list/'+${car.photoName}}" class="image-holder"></td>
                <td><span th:text="${car.carBrand.name}">Brand</span></td>
                <td><span th:text="${car.carModel}">Model</span></td>
                <td><span th:text="#{'quality-class.'+${car.qualityClass.name}}">Quality class</span></td>
                <td class="col-1"><span th:text="${car.rentPrice}">Price</span></td>
                <td class="col-2">
                    <a sec:authorize="hasAuthority('USER')"
                       th:href="@{'/car/rent/'+${car.id}}"
                       class="m-2 w-100 btn btn-lg btn-primary" th:text="#{car-list.rent}"></a>
                    <a sec:authorize="hasAuthority('ADMIN')"
                       th:href="@{'/car/edit/'+${car.id}}"
                       class="m-2 w-100 btn btn-lg btn-primary" th:text="#{car-edit.edit}"></a>
                    <a sec:authorize="hasAuthority('ADMIN')"
                       th:href="@{'/car/delete/'+${car.id}}"
                       class="m-2 w-100 btn btn-lg btn-danger" th:text="#{car-list.delete}"></a>
                    <span sec:authorize="hasAuthority('ADMIN')" th:text="${car.isInUsage} ? #{car-list.in-usage} : #{car-list.available}"></span>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

    <div class="btn-toolbar col text-center justify-content-center"
         role="toolbar" th:if="${carPage.totalPages > 0}" aria-label="Pages">
        <div class="btn-group" role="group" th:if="${carPage.number > 0}">
            <a class="btn btn-outline-primary"
               th:href="@{/car(size=${carPage.size}, page=${carPage.number}, sortField=${sortField}, sortDir=${sortDir})}"
               th:text="#{car-list.prev}">
            </a>
        </div>
        <div class="btn-group px-2" role="group">
            <a th:each="pageNumber : ${#numbers.sequence(1, carPage.totalPages)}"
               th:href="@{/car(size=${carPage.size}, page=${pageNumber}, sortField=${sortField}, sortDir=${sortDir})}"
               th:text="${pageNumber}"
               th:class="'btn btn-outline-primary '+(${pageNumber==carPage.number + 1} ? 'active')">
            </a>
        </div>
        <div class="btn-group" role="group" th:if="${carPage.number + 1 < carPage.totalPages}">
            <a class="btn btn-outline-primary"
               th:href="@{/car(size=${carPage.size}, page=${carPage.number + 2}, sortField=${sortField}, sortDir=${sortDir})}"
               th:text="#{car-list.next}">
            </a>
        </div>
    </div>
</body>
</html>