<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{car-rent.page-name}"></title>

    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/styles/all.css}" rel="stylesheet">
    <link th:href="@{/styles/car-list.css}" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <form id="rentForm" th:action="@{'/car/rent/'+${rentOrder.car.id}}" th:object="${rentOrder}" method="post">
        <div class="row text-center justify-content-center">
            <span class="m-4 fs-4" th:text="#{car-rent.car-info}"></span>
            <div class="col col-lg-4 d-inline align-middle text-center justify-content-center">
                    <div>
                        <table class="table table-striped table-bordered">
                            <tbody>
                            <tr>
                                <td colspan="2"><img th:src="@{'/images/car-list/'+*{car.photoName}}" class="image-holder"></td>
                            </tr>
                            <tr>
                                <td><span th:text="#{car-list.brand}">Brand</span></td>
                                <td><span th:text="*{car.carBrand.name}"></span></td>
                            </tr>
                            <tr>
                                <td><span th:text="#{car-list.model}">Model</span></td>
                                <td><span th:text="*{car.carModel}"></span></td>
                            </tr>
                            <tr>
                                <td><span th:text="#{car-list.quality-class}">Quality class</span></td>
                                <td><span th:text="*{car.qualityClass.name}"></span></td>
                            </tr>
                            <tr>
                                <td class="col-1"><span th:text="#{car-list.price}">Price</span></td>
                                <td class="col-1"><span th:text="*{car.rentPrice}" id="rentPrice"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            <div class="col col-lg-4 text-center justify-content-center">
                        <div class="form-outline row">
                            <span th:if="${#fields.hasErrors('days')}" th:each="e : ${#fields.errors('days')}"
                                  th:text="#{'errors.rentOrder.days.'+${e}}" class="text-danger"></span>
                            <label for="days" class="visually-hidden">Days</label>
                            <input type="number" th:field="${rentOrder.days}" id="days" class="form-control"
                                   th:placeholder="#{car-rent.duration}" min="1" required>
                        </div>
                        <div class="form-outline row">
                            <label for="withDriver" th:text="#{car-rent.with-driver}">With driver</label>
                            <input type="checkbox" th:field="${rentOrder.withDriver}" id="withDriver">
                        </div>
                        <div class="form-outline row">
                            <span th:if="${#fields.hasErrors('passport')}" th:errors="*{passport}" class="text-danger"></span>
                            <span th:if="${#fields.hasErrors('passport.passportNumber')}" th:text="#{errors.passport.passportNumber}" class="text-danger"></span>
                            <label for="passportNumber" class="visually-hidden">Passport number</label>
                            <input type="text" th:field="*{passport.passportNumber}" id="passportNumber"
                                   class="form-control" th:placeholder="#{car-rent.passport.number}" required>
                        </div>
                        <div class="form-outline row">
                            <span th:if="${#fields.hasErrors('passport.firstName')}" th:text="#{errors.passport.firstName}" class="text-danger"></span>
                            <label for="firstName" class="visually-hidden">First name</label>
                            <input type="text" th:field="*{passport.firstName}" id="firstName" class="form-control"
                                   th:placeholder="#{car-rent.passport.first-name}" required>
                        </div>
                        <div class="form-outline row">
                            <span th:if="${#fields.hasErrors('passport.lastName')}" th:text="#{errors.passport.lastName}" class="text-danger"></span>
                            <label for="lastName" class="visually-hidden">Last name</label>
                            <input type="text" th:field="*{passport.lastName}" id="lastName" class="form-control"
                                   th:placeholder="#{car-rent.passport.last-name}" required>
                        </div>
                        <div class="form-outline row">
                            <div class="col">
                                <label class="total" th:text="#{car-rent.total}+': '">Total</label>
                            </div>
                            <div class="col">
                                <input type="text" id="total" readonly>
                            </div>
                        </div>
                        <div class="form-outline row">
                            <input class="w-100 btn btn-lg btn-primary" type="submit" th:value="#{car-rent.submit}">
                        </div>
                    </div>
        </div>
    </form>
    <script th:src="@{/js/big.js}"></script>
    <script>
        var calculateTotal = function (event) {
            event.preventDefault();
            var price = new Big(document.getElementById("rentPrice").innerText);
            var days = document.getElementById("days").value;
            document.getElementById("total").value = price.mul(days).toFixed(2);
        };
        var form = document.getElementById('rentForm');
        form.addEventListener('change', calculateTotal, false);
    </script>
</body>
</html>