<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{car-list.page-name}"></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">

    <link th:href="@{/styles/all.css}" rel="stylesheet">
    <link th:href="@{/styles/car-list.css}" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div>
        <div class="col text-center justify-content-center">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col" th:text="#{car-list.photo}">Photo</th>
                    <th scope="col" th:text="#{car-list.brand}">Brand</th>
                    <th scope="col" th:text="#{car-list.model}">Model</th>
                    <th scope="col" th:text="#{car-list.quality-class}">Quality class</th>
                    <th colspan="2" scope="col" th:text="#{car-list.price}">Price</th>
                    <a sec:authorize="hasAuthority('ADMIN')" class="p-2 text-dark"
                       th:text="#{header.users}" th:href="@{/user}">Users</a>
                    <a sec:authorize="hasAuthority('ADMIN')"
                       class="btn btn-outline-primary" th:href="@{/car/create}" th:text="#{car-list.add}"></a>
                </tr>
                </thead>
                <tbody>

                <tr th:each="car : ${cars}">
                    <td><img th:src="@{'/images/car-list/'+${car.photoName}}" class="image-holder"></td>
                    <td><span th:text="${car.carBrand}">Brand</span></td>
                    <td><span th:text="${car.carModel}">Model</span></td>
                    <td><span th:text="${car.qualityClass}">Quality class</span></td>
                    <td><span th:text="${car.rentPrice}">Price</span></td>
                    <td><input class="w-100 btn btn-lg btn-primary" type="submit" th:value="#{car-list.rent}"></td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
</body>
</html>