<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
    <div>
        <form method="post">
            <input type="text" name="text" placeholder="Input txt"/>
            <input type="text" name="tag" placeholder="Input tag"/>

            <button type="submit">senDDD</button>
        </form>
    </div>
    <div>
        <form method="post" action="filter">
            <input type="text" name="filter"/>
            <button type="submit">Find</button>
        </form>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th> Id </th>
                <th> Mess </th>
                <th> tag </th>
                <th> Author </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${messages.empty}">
                <td colspan="2"> No Books Available </td>
            </tr>
            <tr th:each="message : ${messages}">
                <td><span th:text="${message.id}"> Id </span></td>
                <td><span th:text="${message.message}"> Mess </span></td>
                <td><span th:text="${message.tag}"> tag </span></td>
                <td><span th:text="${message.authorName}"> Author </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>